- filters = @taxon ? @taxon.applicable_filters : [Spree::Core::ProductFilters.all_taxons]
- unless filters.empty?
  = form_tag '', method: :get, id: 'sidebar_products_search' do
    = hidden_field_tag 'per_page', params[:per_page]
    - filters.each do |filter|
      - labels = filter[:labels] || filter[:conds].map {|m,c| [m,m]}
      - next if labels.empty?
      .navigation data-hook="navigation" 
        h4.filter-title
          = filter[:name]
        ul.list-group
          - labels.each do |nm,val|
            - label = "#{filter[:name]}_#{nm}".gsub(/\s+/,'_')
            li.list-group-item
              input id="" type="checkbox" /
              = label
              | "
              | name="search[#{filter[:scope].to_s}][]"
              | value="#{val}"
              | \#{params[:search].present?  params[:search][filter[:scope]]  params[:search][filter[:scope]].include?(val.to_s) ? checked :} /&gt;
              label.nowrap for="" 
              = label
              | "&gt; #{nm}
  = submit_tag Spree.t(:search), name: nil, class: 'btn btn-primary'
