- if tracker = Spree::Tracker.current(:google_analytics)
  javascript:
    | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
    | <haml_silent>     if user_analytics_id = try_spree_current_user.try(:analytics_id)
    | </haml_silent><haml_block>      ga('create', { 'trackingId': '#{tracker.analytics_id}', 'cookieDomain': 'auto', 'userId': '#{user_analytics_id}' });
    | </haml_block><haml_silent>     else
    | </haml_silent><haml_block>      ga('create', '#{tracker.analytics_id}', 'auto');
    | </haml_block
        | ga('require', 'displayfeatures');
        #{yield :google_analytics}
        | ga('send', 'pageview');
