meta charset="utf-8"
title= title
meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport"
== meta_data_tags
= csrf_meta_tags
= canonical_tag(current_store.url)
= stylesheet_link_tag 'spree/frontend/all', media: 'screen'
= render 'spree/shared/paths'
/ = javascript_include_tag 'spree/frontend/all'
= yield :head
= render 'spree/shared/translations'
