.row.steps-data
  - if order.has_step?("address")
    .col-md-3.col-sm-3.col-xs-6 data-hook="order-bill-address" 
      h4
        = Spree.t(:billing_address)
        = link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed?
      = render 'spree/shared/address', address: order.bill_address
    - if order.has_step?("delivery")
      .col-md-3.col-sm-3.col-xs-6 data-hook="order-ship-address" 
        h4
          = Spree.t(:shipping_address)
          = link_to "(#{Spree.t(:edit)})", checkout_state_path(:address) unless order.completed?
        = render 'spree/shared/address', address: order.ship_address
      .col-md-3.col-sm-3.col-xs-6 data-hook="order-shipment" 
        h4
          = Spree.t(:shipments)
          = link_to "(#{Spree.t(:edit)})", checkout_state_path(:delivery) unless order.completed?
        .delivery
          - order.shipments.each do |shipment|
            div
              = Spree.t(:shipment_details, stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name)
        = render 'spree/shared/shipment_tracking', order: order if order.shipped?
  - if order.has_step?("payment")
    .col-md-3.col-sm-3.col-xs-6 data-hook="order-payment" 
      h4
        = Spree.t(:payment_information)
        = link_to "(#{Spree.t(:edit)})", checkout_state_path(:payment) unless order.completed?
      .payment-info
        = render collection: order.payments.valid, partial: 'spree/shared/payment'
hr/
table#line-items.table data-hook="order_details" 
  col halign="center" valign="middle" width="15%" /
  col valign="middle" width="70%" /
  col halign="center" valign="middle" width="5%" /
  col halign="center" valign="middle" width="5%" /
  col halign="center" valign="middle" width="5%" /
  thead data-hook="" 
    tr.active data-hook="order_details_line_items_headers" 
      th colspan="2" = Spree.t(:item)
      th.price= Spree.t(:price)
      th.qty= Spree.t(:qty)
      th.total
        span= Spree.t(:total)
  tbody data-hook="" 
    - order.line_items.each do |item|
      tr data-hook="order_details_line_item_row" 
        td data-hook="order_item_image" 
          - if item.variant.images.length == 0
            = link_to small_image(item.variant.product), item.variant.product
          - else
            = link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product
        td data-hook="order_item_description" 
          h4= item.name
          = truncate(item.description, length: 100)
          = "(" + item.variant.options_text + ")" unless item.variant.option_values.empty?
        td.lead.text-primary.price data-hook="order_item_price" 
          span= item.single_money.to_html
        td.order-qty data-hook="order_item_qty" = item.quantity
        td.lead.text-primary.total data-hook="order_item_total" 
          span= item.display_amount.to_html
  tfoot#order-total data-hook="order_details_total" 
    tr.warning.total
      td align="right" colspan="4" 
        b
          = Spree.t(:order_total)
          | \:
      td.total
        span#order_total.lead.text-primary= order.display_total.to_html
  tfoot#subtotal data-hook="order_details_subtotal" 
    tr#subtotal-row.total
      td colspan="4" 
        b
          = Spree.t(:subtotal)
          | \:
      td.total
        span= order.display_item_total.to_html
  - if order.line_item_adjustments.exists?
    - if order.line_item_adjustments.promotion.eligible.exists?
      tfoot#price-adjustments data-hook="order_details_price_adjustments" 
        - order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments|
          tr.total
            td colspan="4" 
              = Spree.t(:promotion)
              | \:
              strong= label
            td.total
              span= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency)
  tfoot#shipment-total
    - order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments|
      tr.total data-hook="shipment-row" 
        td.text-muted align="right" colspan="4" 
          = Spree.t(:shipping)
          | \:
          strong= name
        td.total
          span= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html
  - if order.all_adjustments.tax.exists?
    tfoot#tax-adjustments data-hook="order_details_tax_adjustments" 
      - order.all_adjustments.tax.group_by(&:label).each do |label, adjustments|
        tr.total
          td.text-muted align="right" colspan="4" 
            = Spree.t(:tax)
            | \:
            strong= label
          td.total
            span= Spree::Money.new(adjustments.sum(&:amount), currency: order.currency)
  tfoot#order-charges data-hook="order_details_adjustments" 
    - order.adjustments.eligible.each do |adjustment|
      - next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0)
      tr.total
        td align="right" colspan="4" 
          strong= adjustment.label
        td.total
          span= adjustment.display_amount.to_html
