- max_level = Spree::Config[:max_level_in_taxons_menu] || 1
nav#taxonomies.sidebar-item data-hook="" 
  - @taxonomies.each do |taxonomy|
    - cache [I18n.locale, taxonomy, max_level, @taxon] do
      - if taxonomy.root.children.any?
        h4.taxonomy-root= Spree.t(:shop_by_taxonomy, taxonomy: taxonomy.name)
        = taxons_tree(taxonomy.root, @taxon, max_level)
