doctype html
html
  head
    meta content=('text/html; charset=UTF-8') http-equiv='Content-Type'
    title Commerce
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = yield

